<footer id="kFooter" class="footer">
    {% unless site.donation == false %}
        <section id="kFooterIncome" class="container">
            <div id="kDonateForm" class="w-100">
                <div class="center">
                    <h3>
                        {% if site.donate_to_kde %}{{ site.donate_to_kde }}{% else %}Donate to KDE{% endif %}
                        <a href="https://www.kde.org/community/donations/index.php#money" target="_blank">{% if site.why_donate %}{{ site.why_donate }}{% else %}Why Donate?{% endif %}</a>
                    </h3>

                    <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post" onsubmit="return amount.value >= 2 || window.confirm('Your donation is smaller than 2€. This means that most of your donation\nwill end up in processing fees. Do you want to continue?');">
                        <input type="hidden" name="cmd" value="_donations" />
                        <input type="hidden" name="lc" value="GB" />
                        <input type="hidden" name="item_name" value="Development and communication of KDE software" />
                        <input type="hidden" name="custom" value="{{ site.url }}" />
                        <input type="hidden" name="currency_code" value="EUR" />
                        <input type="hidden" name="cbt" value="Return to www.kde.org" />
                        <input type="hidden" name="return" value="https://www.kde.org/community/donations/thanks_paypal.php" />
                        <input type="hidden" name="notify_url" value="https://www.kde.org/community/donations/notify.php" />
                        <input type="hidden" name="business" value="kde-ev-paypal@kde.org" />
                        <input type='text' name="amount" value="10.00" id="donateAmountField" /> €
                        <button type='submit' id="donateSubmit">{% if site.donate_via_paypal %}{{ site.donate_via_paypal }}{% else %}Donate via PayPal{% endif %}</button>
                    </form>

                    <a href="https://www.kde.org/community/donations/others.php" id="otherWaysDonate" target="_blank">{% if site.other_ways_to_donate %}{{ site.other_ways_to_donate }}{% else %}Other ways to donate{% endif %}</a>
                </div>
            </div>
        </section>
    {% endunless %}

    <section id="kLinks" class="container">
        <div class="row">
            {% if site.navigation.bottom %}
                {% for section in site.navigation.bottom %}
                    <nav class="col-sm">
                        <h3>{{ section.name }}</h3>
                        {% for item in section.items %}
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        {% endfor %}
                    </nav>
                {% endfor %}
            {% else %}
                {% comment %} Default bottom navigation {% endcomment %}
                <nav class="col-sm">
                    <h3>Community</h3>
                    <a href="https://forum.kde.org">Forums</a>
                </nav>

                <nav class="col-sm">
                    <h3>News &amp; Press</h3>
                    <a href="https://www.kde.org/announcements/">Announcements</a>
                    <a href="https://dot.kde.org/">KDE.news</a>
                    <a href="https://planet.kde.org/">Planet KDE</a>
                </nav>
            {% endif %}
        </div>
    </section>

    <section id="kSocial" class="container kSocialLinks">
        {% if site.social %}
            {% if site.social.matrix %}
                <a class="shareMatrix" href="{{ site.social.matrix }}" rel="nofollow">Join us on Matrix</a>
            {% endif %}
            {% if site.social.facebook %}
                <a class="shareFacebook" href="{{ site.social.facebook }}" rel="nofollow">Post on Facebook</a>
            {% endif %}
            {% if site.social.twitter %}
                <a class="shareTwitter" href="{{ site.social.twitter }}" rel="nofollow">Share on Twitter</a>
            {% endif %}
            {% if site.social.diaspora %}
                <a class="shareDiaspora" href="{{ site.social.diaspora }}" rel="nofollow">Share on Diaspora</a>
            {% endif %}
            {% if site.social.mastodon %}
                <a class="shareMastodon" href="{{ site.social.mastodon }}" rel="me nofollow">Share on Mastodon</a>
            {% endif %}
            {% if site.social.linkedin %}
                <a class="shareLinkedIn" href="{{ site.social.linkedin }}" rel="nofollow">Share on LinkedIn</a>
            {% endif %}
            {% if site.social.reddit %}
                <a class="shareReddit" href="{{ site.social.reddit }}" rel="nofollow">Share on Reddit</a>
            {% endif %}
            {% if site.social.youtube %}
                <a class="shareYouTube" href="{{ site.social.youtube }}" rel="nofollow">Share on YouTube</a>
            {% endif %}
            {% if site.social.peertube %}
                <a class="sharePeerTube" href="{{ site.social.peertube }}" rel="nofollow">Share on PeerTube</a>
            {% endif %}
            {% if site.social.vk %}
                <a class="shareVK" href="{{ site.social.vk }}" rel="nofollow">Share on VK</a>
            {% endif %}
            {% if site.social.instagram %}
                <a class="shareInstagram" href="{{ site.social.instagram }}" rel="nofollow">Share on Instagram</a>
            {% endif %}
        {% else %}
            <a class="shareMatrix" href="https://webchat.kde.org/#/room/#kde:kde.org" rel="nofollow">Join us on Matrix</a>
            <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow">Post on Facebook</a>
            <a class="shareTwitter" href="https://twitter.com/kdecommunity" rel="nofollow">Share on Twitter</a>
            <a class="shareDiaspora" href="https://joindiaspora.com/people/9c3d1a454919ef06" rel="nofollow">Share on Diaspora</a>
            <a class="shareMastodon" href="https://mastodon.technology/@kde" rel="me nofollow">Share on Mastodon</a>
            <a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" rel="nofollow">Share on LinkedIn</a>
            <a class="shareReddit" href="https://www.reddit.com/r/kde/" rel="nofollow">Share on Reddit</a>
            <a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" rel="nofollow">Share on YouTube</a>
            <a class="sharePeerTube" href="https://peertube.mastodon.host/accounts/kde/videos" rel="nofollow">Share on PeerTube</a>
            <a class="shareVK" href="https://vk.com/kde_ru" rel="nofollow">Share on VK</a>
            <a class="shareInstagram" href="https://www.instagram.com/kdecommunity/" rel="nofollow">Share on Instagram</a>
        {% endif %}
    </section>

    <section id="kLegal" class="container">
        <div class="row">
            <small class="col-4">
                Maintained by {% if site.maintainer %}
                    <a href="{{ site.maintainer.href }}">{{ site.maintainer.name }}</a>
                {% else %}
                    <a href="mailto:kde-www@kde.org">KDE www</a>
                {% endif %}
            </small>
            <small class="col-8 text-right">
                KDE<sup>®</sup> and <a href="https://kde.org/media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment<sup>®</sup> logo</a> are registered trademarks of <a href="https://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
                <a href="https://www.kde.org/community/whatiskde/impressum">Legal</a>
                {% if site.source-code %}
                  This websites is Free Sotfware licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.de.html">AGPL</a>.
                  <a href="{{ site.source-code }}">Source code</a>.
                {% endif %}
            </small>
        </div>
    </section>
</footer>

{% if site.matomo %}
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.kde.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '{{ site.matomo }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endif %}
