---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "home.scss";
@import "download.scss";
@import "component.scss";

.size-full {
  width: auto !important;
  height: auto !important;
}

.wp-caption {
  width: auto !important;
}

.wp-caption-text {
  font-style: italic;
}

.app-logo{
  width:auto;
}