---
layout: default
css-include: /css/main.css
permalink: /news
pagination:
  enabled: true
  collection: changelogs
  sort_field: "date"
  sort_reverse: true
hide_rss: true
---

<main aria-label="Content" id="content" class="container">
  <br />
  <h1>Announcements</h1>

  {% include blog.html %}
</main>
