---
layout: default
---

<main class="navfix container clearfix markdown-output screenshots" aria-label="Content">
  <h1>{{ page.name }}</h1>

  {% if page.screenshot %}
  <a href="{{ page.screenshot }}">
    <img
      src="{{ page.screenshot }}"
      alt="{{ page.name }}"
      class="screenshot preview "
      style="margin-top: 0;"
    />
  </a>
  {% endif %} {{ content }}
</main>
